dataset/planilha/*.xlsx
dataset/planilha/*.csv
dataset/raw_docs/Preso/
dataset/raw_docs/Solto/
dataset/embeddings/
dataset/proc_docs/
.idea/
*.log
__pyc
**/__pycache__/
.ipynb_checkpoints/
results/eda_i/
results/eda_ii/